@import 'variables';

@mixin rb($o: 1) {
    background: linear-gradient(180deg,
    rgba(254, 0, 0, $o) 16.66%,
    rgba(253, 140, 0, $o) 0, 33.32%,
    rgba(255, 229, 0, $o) 33.32%, 49.98%,
    rgba(17, 159, 11, $o) 49.98%, 66.64%,
    rgba(6, 68, 179, $o) 66.64%, 83.3%,
    rgba(194, 46, 220, $o) 83.3%);
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}